:root{
    --foreground-color1--:white;
    --foreground-color1-light:gray;
    --background-color1--light--:#111;
    --foreground-color2--:rgb(0, 100, 255);
    --background-color1--:black;
    /*--default-border-width--:2px;
    --default-nav-height--:3.5em;
    --default-nav-height-hidden--:-3.5em;
    --default-warning-color--:rgb(255, 0, 0);*/
}